<!DOCTYPE HTML>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/">

    <title>fbot &middot; Planned features</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

  </head>

  <body>

    <div class="wrapper">

      <div class="header">

        <a href="/" class="hidden-sm-down col-md-3 logo"></a>
        <a href="/" class="hidden-md-up col-xs-3 logo-small"></a>

      </div>

      <div class="content">

        <div class="text-xs-center">

          <h3>Planned features</h3><br />
          <ul>
            <li>
              Voice channel commands (e.g. music playing)
            </li>
          </ul><br />
          If you want to add anything to this list, <a href="https://discord.gg/aRt6zMU">join the bot's server</a> or type <b>f!feedback (Suggestion)</b> on a server that the bot is on
        </div>

      </div>

    </div>

    <div class="footer text-xs-center">
      Copyright &copy; 2017 <a href="https://twitter.com/xmatmen">matmen</a>
    </div>

  </body>

</html>
